*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    position: relative;
    font-family: 'Noto Sans CJK TC';
}
html,body{
    width:100%;
    min-width:1280px;
    height:100%;
    font-size:28px;
    font-weight: 400;
}


/* all */
a{
    text-decoration: none;
}
header,section{
    width:100%;
    height:1080px;
    overflow: hidden;;
}
.con_ar{
    width:100%;
    height:100%;
    padding:0 14vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ar_main{
    width:45%;
    min-width: 400px;
    color: #ffffff;
    line-height: 50px;
    text-align: justify;
    padding:240px 0;
    /* outline: 1px solid red; */
}
.con_headline{
    display: flex;
    align-items: center;
}
.t_hlch{
    font-size: 60px;
    font-weight:500;
    letter-spacing: 10px;
}
.t_hlen{
    font-size: 30px;
    font-weight:500;
    letter-spacing: 5px;
    margin-top:8px;
}
.line_hl{
    width: 100%;
    height: 6px;
    background-color: #fff;
    margin-top:10px;
}
.img_dot{
    margin-left: 45px;
}
.p_content{
    margin-top:90px;
    line-height: 60px;
    letter-spacing: 5px;
    font-weight:400;
}


/* header */
.img_hbg{
    position: absolute;
    width: 100%;
    min-width: 1920px;
    min-height:1080px;
    right:0;
}
.img_hphill{
    width:30vw;
    min-width: 700px;
}

/* all section */
section{
    overflow: hidden;
    display: flex;
    align-items: center;
}
.ar_main_tcolor{
    color:#004F7E;
}
.line_hl_bgcolor{
    background-color: #004F7E;
}
.img_bganimroll{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-40%);
}
.img_ibg{
    position: absolute;
    left:32%;
}
.img_ibg_right{
    left:0%;
}
.con_sideintro{
    position: absolute;
    color: #ffffff;
}
.con_sideintro_right{
    right:50px;
}
.con_sideintro_left{
    left:50px;
}
.t_sitop{
    font-size: 60px;
    font-weight:400;
    letter-spacing: 10px;
    text-shadow:
   -1px -1px 0 #0063FF,  
    1px -1px 0 #0063FF,
    -1px 1px 0 #0063FF,
     1px 1px 0 #0063FF;
}
.con_sicenter{
    display: flex;
    justify-content: start;
    align-items: center;
}
.line_si{
    width:80%;
    height:12px;
    background-color: #fff;
    margin-right: 20px;
    border:1px solid #0063FF;
}
.t_sibottom{
    font-size: 30px;
    font-weight:400;
    letter-spacing: 5px;
    margin-bottom:12px;
    text-shadow:
   -1px -1px 0 #0063FF,  
    1px -1px 0 #0063FF,
    -1px 1px 0 #0063FF,
     1px 1px 0 #0063FF;
}
.con_ihltext{
    width:300px;
}
.p_content2{
    margin-top:60px;
    text-shadow:
   -1px -1px 0 #ffffff,  
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
     1px 1px 0 #ffffff;
}
.box_number{
    position: absolute;
    width: 150px;
    height: 75px;
    background-color: #0063FF;
    color:#ffffff;
    font-size: 30px;
    font-weight:400;
    letter-spacing: 5px;
    text-align: center;
    padding: 15px;
    bottom:90px;
}
.box_number_right{
    right:0;
}
.img_secodelia{
    width:30%;
    min-width: 390px;
    margin-left:60px;
}

