*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    position: relative;
    font-family: 'Noto Sans CJK TC';
}
html,body{
    width:100%;
    min-width:1280px;
    height:100%;
    font-size:28px;
    font-weight: 300;
}


/* all */
a{
    text-decoration: none;
}