* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
}

html,
body {
    width: 100%;
    min-width: 1280px;
    height: 100%;
    font-size: 28px;
    font-weight: 300;
}


/* all */

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 1080px;
    display: flex;
    align-items: center;
    background-size: cover;
    overflow: hidden;
}

.bg {
    position: absolute;
    width: 100%;
    min-width: 1920px;
    min-height: 1080px;
    right: 0;
}

.con {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 14vw;
    display: flex;
    align-items: center;
}

.clip {
    width: 25%;
    min-width: 400px;
    overflow: hidden;
    height: 600px;
}

.intro {
    opacity: 0;
    transform: translateY(0%);
    color: #004F7E;
    line-height: 50px;
    align-self: center;
    justify-content: center;
    text-align: justify;
    animation: upshow 0.5s 0.75s ease-out 1;
    animation-fill-mode: forwards;
}

.wtop {
    display: flex;
    align-items: center;
}

.ttitle {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 10px;
}

.stitle {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3.5px;
    margin-top: 8px
}

.ul {
    width: 100%;
    height: 6px;
    background-color: #004F7E;
    margin-top: 10px;
}

.ddm {
    margin-left: 45px;
}

.wbotm {
    margin-top: 90px;
    line-height: 60px;
    letter-spacing: 5px;
    font-weight: 300;
}


/*cb*/

.cbintro {
    width: 40%;
    min-width: 400px;
    text-align: justify;
    margin: 0 5% 0 5%;
}

.cb {
    transform: rotate(100deg);
    opacity: 0;
    position: absolute;
    width: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    animation: transhow1 0.5s 1.5s ease-out 1;
    animation-fill-mode: forwards;
}

.dotl {
    transform: rotate(100deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    animation: transhow2 0.5s 0.75s ease-out 1;
    animation-fill-mode: forwards;
}

.clw {
    opacity: 0;
    width: 0;
    height: 0;
    min-width: 200px;
    min-height: 200px;
    border: #0063FF solid 1px;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: transhow3 0.5s 0.75s ease-out 1;
    animation-fill-mode: forwards;
}


/*introlword*/

.cbintrot {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 0 75%;
}

.cbintrol {
    opacity: 0;
    position: absolute;
    width: 0;
    top: -12vh;
    left: -5%;
    height: 3px;
    background-color: #0063FF;
    z-index: 3;
    animation: leftshow 0.3s 1.2s ease-out 1;
    animation-fill-mode: forwards;
}

.cbt {
    position: absolute;
    min-width: 280px;
    color: #0063FF;
    z-index: 3;
    overflow: hidden;
}

.clipw {
    opacity: 0;
    transform: translatex(-100%);
    animation: leftshow2 0.5s 1.7s ease-out 1;
    animation-fill-mode: forwards;
}

.cbtop {
    font-size: 3.5vw;
    font-weight: 400;
    letter-spacing: 10px;
}

.cbline {
    display: flex;
    justify-content: start;
    align-items: center;
}

.cbl {
    width: 17vw;
    height: 12px;
    background-color: #0063FF;
    margin-right: 20px;
}

.cbbotm {
    font-size: 1.5vw;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 12px;
}


/* section */

section {
    width: 100%;
    height: 1080px;
    display: flex;
    align-items: center;
    background-size: cover;
    overflow: hidden;
}

.con2 {
    position: relative;
    min-width: 400px;
    width: 100%;
    height: 100%;
    padding: 0 14vw;
    display: flex;
    flex-direction: column;
}

.bg2 {
    width: 25%;
    min-width: 400px;
    line-height: 50px;
    text-align: justify;
    position: absolute;
    width: 100%;
    min-width: 1920px;
    min-height: 1080px;
    right: 0;
}

.s2 {
    overflow: hidden;
}

.sw {
    transform: translateY(130%);
    opacity: 0;
}

.sttitle {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 10px;
}

.sstitle {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    margin-top: 8px
}

.sul {
    width: 100%;
    height: 6px;
    background-color: #fff;
    margin-top: 10px;
}

.s {
    margin-top: 220px;
    z-index: 4;
    color: #fff;
}

.wdm {
    transform: translateY(130%);
    opacity: 0;
    margin-left: 45px;
}

.video-container {
    margin-top: 50px;
    width: 70%;
    min-height: 510px;
    align-self: center;
    overflow: hidden;
}

.iframe {
    transform: translateY(130%);
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.ca {
    transform: translateY(130%);
    opacity: 0;
    position: absolute;
    top: 670px;
    margin-left: 55%;
    z-index: 2;
}

.upshow {
    animation: upshow 0.5s 0.5s ease-out 1;
    animation-fill-mode: forwards;
}

.upshow_i {
    animation: upshow2 0.6s 0.75s ease-out 1;
    animation-fill-mode: forwards;
}


/* animation */

@keyframes upshow {
    0% {
        opacity: 0;
        transform: translateY(130%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes upshow2 {
    0% {
        opacity: 0;
        transform: translateY(130%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes transhow1 {
    0% {
        opacity: 0;
        width: 0;
        transform: rotate(100deg);
    }
    100% {
        opacity: 1;
        width: 80%;
        transform: rotate(0deg);
    }
}

@keyframes transhow2 {
    0% {
        transform: rotate(100deg);
        width: 0;
    }
    100% {
        transform: rotate(0deg);
        width: 100%;
    }
}

@keyframes transhow3 {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        width: 300px;
        height: 300px;
    }
}

@keyframes leftshow {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 4vw;
    }
}

@keyframes leftshow2 {
    0% {
        transform: translatex(-100%);
        opacity: 0;
    }
    100% {
        transform: translatex(0);
        opacity: 1;
    }
}