*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
}
html,body{
    width:100%;
    min-width:1280px;
    height:100%;
    font-size:28px;
    font-weight: 300;
}


/* all */
a{
    text-decoration: none;
}

/* header */
header{
    width:100%;
    height:1300px;
    color: #ffffff;
    display: flex;
    justify-content: center;
}
.img_hbg{
    position: absolute;
    width: 100%;
    height:1300px;
    background-image: url(../images/story/hbg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img_hbgup{
    position: absolute;
    width: 100%;
    z-index: 1;
    transform:translateY(-70%);
}

/* all object */
.ar_main{
    /* outline: 1px solid; */
    width:800px;
    height:55%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    color: #ffffff;
    line-height: 50px;
    text-align: justify;
    margin-top:240px;
}
.con_headline{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.img_hldot{
    margin:0 50px;
}
.con_hltext{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.t_hlch{
    font-size: 60px;
    font-weight:500;
    letter-spacing: 10px;
}
.t_hlen{
    font-size: 30px;
    font-weight:500;
    letter-spacing: 5px;
    margin-top:8px;
}
.line_hl{
    width: 100%;
    height: 6px;
    background-color: #fff;
    margin-top:10px;
}
.p_content{
    margin-top:30px;
    line-height: 60px;
    letter-spacing: 5px;
    font-weight:300;
}

/* all section */
section{
    width:100%;
    height: auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img_secbg{
    width: 100%;
    height:1080px;
    position: fixed;
    z-index: -1;
    top:-100px;
}
.img_secbg_notfixed{
    position: absolute;
    bottom:0;
    top:auto;
}
article{
    margin-top:240px;
    width:900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    line-height: 50px;
    text-align: justify;
}
.ar_sec1-1{
    width:930px;
}
.p_seccontent1{
    margin:40px 60px 0;
}
.con_grass{
    width:100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom:0px;
}
.img_gl{
    width:82px;
}
.img_gr{
    width:106px;
}
.con_drip{
    margin:180px 0 0;
}
.img_drip{
    width:45px;
    margin:0 25px;
    opacity: 0;
}
.ar_sec1-2{
    width:65%;
    margin:180px 0;
}
.con_pcontent2{
    width:65%;
    overflow: hidden;
}
.p_seccontent2{
    opacity: 0;
    text-align: center;
    margin-top:0;
}
.con_typecontent{
    width: 100%;
    min-width:1130px;
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}
.con_type{
    width:340px;
    margin:80px 20px 0;
    /* outline: 1px solid #ffffff; */
    overflow: hidden;
}
.img_type{
    width:340px;
    opacity:0;
}
.t_typehl{
    margin-top:10px;
    font-size: 30px;
    font-weight:400;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom:10px;
    opacity:0;
}
.p_type{
    margin-top:30px;
    line-height: 50px;
    letter-spacing: 5px;
    font-weight:300;
    opacity: 0;
}

/* section2 */
#section2{
    flex-direction: column;
    height: 865px;
    overflow: hidden;
}
.img_bbg{
    position: absolute;
    height:100%;
    min-height: 865px;
}
.img_bgr{
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.ar_sec2{
    margin-top:50px;
}
.p_seccontent3{
    margin-top:0px;
    opacity: 0;
}
.con_dot{
    display: flex;
    align-items: center;
    margin-top:20px;
}
.img_fdot{
    width: 24px;
    margin:25px;
    opacity: 0;
}
.img_sdot{
    width: 65px;
    margin:25px;
    opacity: 0;
}

/* anim */
.con_armain{
    width:800px;
    height:55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    line-height: 50px;
    text-align: justify;
    opacity: 0;
    animation: showtoup 0.5s 0.5s ease-out 1;
    animation-fill-mode: forwards;
}
.con_ar{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    line-height: 50px;
    text-align: justify;
    opacity: 0;
}
.con_aranim{
    animation: showtoup 0.5s 0s ease-out 1;
    animation-fill-mode: forwards;
}
.img_drip_anim1{
    opacity:0;
    animation: drip_showup_left 0.25s 0.75s ease-out 1;
    animation-fill-mode: forwards;
}
.img_drip_anim2{
    opacity:0;
    animation: drip_showup_left 0.25s 0.25s ease-out 1;
    animation-fill-mode: forwards;
}
.img_drip_anim3{
    animation: opacity_showup 0.25s 0.1s ease-out 1;
    animation-fill-mode: forwards;
}
.img_drip_anim4{
    animation: drip_showup_right 0.25s 0.25s ease-out 1;
    animation-fill-mode: forwards;
}
.img_drip_anim5{
    animation: drip_showup_right 0.25s 0.75s ease-out 1;
    animation-fill-mode: forwards;
}
.img_type_anim{
    animation: opacity_showup 1s 1s ease-out 1;
    animation-fill-mode: forwards;
}
.p_type_anim{
    animation: showtoup2 0.75s 0s ease-out 1;
    animation-fill-mode: forwards;
}

.img_dot_anim1{
    opacity:0;
    animation: dot_showup_left 0.25s 0.75s ease-out 1;
    animation-fill-mode: forwards;
}
.img_dot_anim2{
    opacity:0;
    animation: dot_showup_left 0.25s 0.25s ease-out 1;
    animation-fill-mode: forwards;
}
.img_dot_anim3{
    animation: opacity_showup 0.25s 0.1s ease-out 1;
    animation-fill-mode: forwards;
}
.img_dot_anim4{
    animation: dot_showup_right 0.25s 0.25s ease-out 1;
    animation-fill-mode: forwards;
}
.img_dot_anim5{
    animation: dot_showup_right 0.25s 0.75s ease-out 1;
    animation-fill-mode: forwards;
}

@keyframes showtoup {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes showtoup2{
    0% {
        opacity: 0;
        transform: translateY(300px);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes opacity_showup{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes drip_showup_right {
    0% {
        opacity: 0;
        transform: translateX(-85px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes drip_showup_left {
    0% {
        transform: translateX(85px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes dot_showup_right {
    0% {
        opacity: 0;
        transform: translateX(-85px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes dot_showup_left {
    0% {
        transform: translateX(85px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
