*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    position: relative;
    font-family: 'Noto Sans CJK TC';
}
html,body{
    width:100%;
    min-width:1280px;
    height:100%;
    font-size:28px;
    font-weight: 300;
}


/* all */
a{
    text-decoration: none;
}

/* header */
header{
    width:100%;
    height:1300px;
    color: #ffffff;
    display: flex;
    justify-content: center;
}
.img_hbg{
    position: absolute;
    width: 100%;
    height:1300px;
    background-image: url(../images/story/hbg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img_hbgup{
    position: absolute;
    width: 100%;
    z-index: 1;
    transform:translateY(-70%);
}

/* all object */
.ar_main{
    width:800px;
    height:55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    line-height: 50px;
    text-align: justify;
    margin-top:240px;
}
.con_headline{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.img_hldot{
    margin:0 50px;
}
.con_hltext{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.t_hlch{
    font-size: 60px;
    font-weight:500;
    letter-spacing: 10px;
}
.t_hlen{
    font-size: 30px;
    font-weight:500;
    letter-spacing: 5px;
    margin-top:8px;
}
.line_hl{
    width: 100%;
    height: 6px;
    background-color: #fff;
    margin-top:10px;
}
.p_content{
    margin-top:30px;
    line-height: 60px;
    letter-spacing: 5px;
    font-weight:300;
}

/* all section */
section{
    width:100%;
    height: auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img_secbg{
    width: 100%;
    height:1080px;
    position: fixed;
    z-index: -1;
    top:-100px;
}
.img_secbg_notfixed{
    position: absolute;
    bottom:0;
    top:auto;
}
article{
    margin-top:240px;
    width:900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    line-height: 50px;
    text-align: justify;
}
.ar_sec1-1{
    width:930px;
}
.p_seccontent1{
    margin:40px 60px 0;
}
.con_grass{
    width:100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom:0px;
}
.img_gl{
    width:82px;
}
.img_gr{
    width:106px;
}
.con_drip{
    margin:180px 0 0;
}
.img_drip{
    width:45px;
    margin:0 25px;
}
.ar_sec1-2{
    width:65%;
    margin:180px 0;
}
.p_seccontent2{
    text-align: center;
}
.con_typecontent{
    width: 100%;
    min-width:1130px;
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}
.con_type{
    width:340px;
    margin:80px 20px 0;
}
.img_type{
    width:340px;
}
.t_typehl{
    margin-top:10px;
    font-size: 30px;
    font-weight:400;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom:10px;
}
.p_type{
    margin-top:30px;
    line-height: 50px;
    letter-spacing: 5px;
    font-weight:300;
}

/* section2 */
#section2{
    flex-direction: column;
    height: 865px;
    overflow: hidden;
}
.img_bbg{
    position: absolute;
    height:100%;
    min-height: 865px;
}
.img_bgr{
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.ar_sec2{
    margin-top:50px;
}
.p_seccontent3{
    margin-top:0px;
}
.con_dot{
    display: flex;
    align-items: center;
    margin-top:20px;
}
.img_fdot{
    width: 24px;
    margin:25px;
}
.img_sdot{
    width: 65px;
    margin:25px;
}