*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    position: relative;
    font-family: 'Noto Sans CJK TC';
}
html,body{
    width:100%;
    height:100%;
    font-size:26px;
}

/* nav */
nav{
    width:100%;
    background-color: red;
    position: fixed;
    z-index: 100;
    background-color: rgba(0,79,126,0.64);
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.69vw;
}
.con_nav{
    width: 57vw;
    max-width: 692px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    width:555px;
    list-style-type: none;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-top:5px;
}
nav li{
    width:159px;
    height:51px;
    transition:all 0.3s;
    padding: 4px 17px;
}
nav a{
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.con_nav a{
    letter-spacing: 0.2vw;
    text-align: justify;
}
.con_nav li:hover{
    border:2px solid #ffffff;
    transition:all 0.3s;
}
.music{
    background-color: #fff;
    width:35.35px;
    height:37.5px;
}

/* header */
header{
    width:100vw;
    height:100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.img_hbg{
    position: absolute;
    width: 100vw;
    height:auto;
    /* top:-5vw; */
}
.con_hcontent{
    width:38.85%;
    height:22.25%;
    top:18vw;
    display: grid;
}
.img_hlogo{
    width: 100%;
}
.img_teamn{
    width: 50%;
}
.img_teamn{
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}

