*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    position: relative;
    font-family: 'Noto Sans CJK TC';
}
html,body{
    width:100%;
    min-width:1280px;
    height:100%;
    font-size:28px;
    font-weight: 350;
}
a{
    text-decoration: none;
}
/* nav */
nav{
    width:100%;
    background-color: red;
    position: fixed;
    z-index: 100;
    background-color: rgba(0,79,126,0.64);
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    /* transform: translateY(-100%); */
    animation: nav_show 0.5s linear 1;
}
.con_nav{
    width:32.5vw;
    min-width: 555px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img_nlogo{
    width:100%;
}
nav ul{
    width: 26vw;
    min-width: 447.5px;
    list-style-type: none;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-top:5px;
}
nav li{
    width:145px;
    height:47.5px;
    transition:all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    color: #ffffff;
    display: flex;
    align-items: center;
    letter-spacing: 4px;
    font-size: 24px;
}
.con_nav a{
    text-align: center;
}
.con_nav li:hover{
    border:1.5px solid #ffffff;
    transition:all 0.3s;
}
.img_music{
    width:27.5px;
}

/* header */
header{
    width: 100%;
    min-width:1280px;
    height:100vh;
    background-image: url(../images/home/first/bg.png);
    background-size: cover;
}
.con_hcontent{
    width:555px;
    height:auto;
    top:17vw;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
}
.img_hlogo{
    width: 100%;
    transform: translateY(130%);
    animation: hcontent_show 0.5s 0.75s ease-out 1;
    animation-fill-mode: forwards;
}
.img_teamn{
    display: block;
    width: 47.5%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    transform: translateY(130%);
    animation: hcontent_show 0.5s 0.75s ease-out 1;
    animation-fill-mode: forwards;
}
/* .box_animate{
    width: 100%;
    height: 300px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    transform: translate(0%,100%);
    animation: hcontent_box 0.75s 0.75s linear 1;
} */
.con_hbottom{
    width:100%;
    position: absolute;
    bottom:-8.5px;
    /* transform: translateY(100%); */
    animation: hmore_show 0.5s ease-out 1;
}
.img_hbottom{
    width: 100%;
}
.con_hmore{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    overflow: hidden;
}
.box_harrow{
    margin-top:5px;
    width: 100%;
    height: 20px;
    overflow: hidden;
}
.img_arrow{
    left: 50%;
    animation: harrow 1.5s linear infinite ;
}
.t_hmore{
    color: #ACACAC;
    letter-spacing: 5px;
}

/* section */
section{
    width:100%;
    height:1080px;
}
h1{
    font-size: 60px;
    font-weight:500;
    letter-spacing: 10px;
}
.sec_story,.sec_character{
    /* background-color: red; */
    color:#004F7E;
}

/* sec_story */
.img_bganimroll,.img_sbg1,.img_sbg2{
    position: absolute;
}

/* roll */
.img_bganimroll{
    width:100%;
    left:50%;
    top:50%;
    transform: translate(-50%,-40%);
}

.img_sbg1{
    right:0;
    height: 1080px;
}
.img_sbg2{
    right:5vw;
    height:1080px;
}
.con_sarticle{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding:260px 14vw;
}
.ar_sl{
    width:700px;
    height:auto;
    font-weight: 350;
    letter-spacing: 5px;
    /* border:1px solid #000; */
}
.ar_sl p{
    margin-top:3vw;
    line-height: 50px;
    text-align: justify;
}
.btn_smore{
    display: block;
    border: 1.5px solid #004F7E;
    border-radius: 50px;
    width: 150px;
    height: 55px;
    text-align: center;
    padding-top:7.5px;
    font-size: 24px;
    font-weight: 400;
    margin: 50px 0 0 100%;
    transform: translate(-100%,0);
    color: #004F7E;
}
.ar_sr{
    align-self: center;
    margin-top:2vw;
    margin-left:80px;
}
.img_swindow{
    display: block;
    width: 30vw;
    min-width: 400px;
    max-width: 466px;
    margin-left: auto;
    margin-right: auto;
}
.t_crcontent{
    margin-top:2vw;
    margin-left: auto;
    margin-right: auto;
    border: 1.5px solid #004F7E;
    border-radius: 50px;
    width: 400px;
    height: 70px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 5px;
    padding-top:17px;
    text-align: center;
}

/* seccharacter */
.img_cbg{
    position: absolute;
}
.ar_character{
    width:100%;
    height:100%;
    padding:200px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ar_character h1,.ar_character p{
    width: 100%;
    text-align: center;
}
.ar_character p{
    margin-top: 35px;
    letter-spacing: 5px;
}
.con_chcontent{
    display: flex;
    justify-content: center;
}
.box_cname{
    border:1.5px solid #004F7E;
    border-radius: 50px;
    width:120px;
}

/* animate */
@keyframes nav_show{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes hmore_show{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes hcontent_box{
    0%{
        transform: translate(0%,100%);
    }
    50%{
        transform: translate(0%,0%);
    }
    100%{
        transform: translate(100%,0%);
    }
}
@keyframes hcontent_show{
    0%{
        transform: translateY(130%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes harrow{
    0%{
        transform: translate(-50%,-200%);
    }
    40%{
        transform: translate(-50%,-80%);
    }
    80%{
        transform: translate(-50%,-80%);
    }
    100%{
        transform: translate(-50%,0%);
    }
}